<!DOCTYPE html>
<html>
  <head>
    <title>Song Spot</title>
  </head>
  <body>
    
    <!-- Navigation buttons -->
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/search" routerLinkActive="active">Search</a>
      <a routerLink="/library" routerLinkActive="active">Library</a>
      <a routerLink="/player" routerLinkActive="active">Player</a>
    </nav>
    
    <!-- Router outlet for displaying pages -->
    <main>
      <router-outlet></router-outlet>
    </main>
  </body>
</html>


